#content-app {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

.js-hide {
  display: none !important;
}

.picker__select--month,
.picker__select--year {
  padding: 0 !important;
  font-size: 1rem;
  color: black
}

/* Personalización de botones SweetAlert2 para que coincidan con los formularios */
.swal2-confirm {
  background-color: #13B497 !important;
  /* btn-primary */
  color: #fff !important;
  border: none !important;
  box-shadow: none !important;
  font-weight: 500;
}

.swal2-cancel {
  background-color: #fff !important;
  color: #B03636 !important;
  /* btn-danger light */
  border: 1px solid #B03636 !important;
  box-shadow: none !important;
  font-weight: 500;
}

.swal2-cancel:focus,
.swal2-confirm:focus {
  box-shadow: 0 0 0 2px #13B49733 !important;
}

.swal2-confirm:hover {
  background-color: #0e8670 !important;
}

.swal2-cancel:hover {
  background-color: #B03636 !important;
  color: #fff !important;
}